.clickAndLearn-component {

  .clickAndLearn-widget {
    .clickAndLearn-navContainer {
      list-style: none;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;

      .clickAndLearn-indicator {
        background-color: @primary-color;
        list-style: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;

        &.clickAndLearn-indicatorActive {
          background-color: @secondary-color;
        }
      }
    }

    &.clickAndLearn-horizontal {

      .clickAndLearn-navContainer {
        li {
          display: inline-block;
          margin-bottom: 3px;
          margin-left: 0px;
        }
      }

      .clickAndLearn-tabViewContainer {
        margin-top: 5px;
      }
    }

    &.clickAndLearn-vertical {

      .clickAndLearn-navContainer {
        display: inline-block;
        width: 50%;
        margin-right: 5px;

        li {
          margin-bottom: 3px;
          margin-left: 0px;

          img {
            width: 100%;
          }
        }
      }

      .clickAndLearn-tabViewContainer {
        display: inline-block;
        max-width: 48%;
        height: auto;
        vertical-align: top;

        .clickAndLearn-tabItem {
          margin-top: 0;
        }
      }
    }
  }

  .clickAndLearn-tabViewContainer {
    .clickAndLearn-tabItem {
      width: auto;
      display: none;
      background-color: @primary-color;
      padding: @item-padding;
      color: @item-text-color;
    }

    .clickAndLearn-tabItem:after {
      margin-left: @item-spacing;
    }

    .clickAndLearn-tabView-title {
      display: block;
      margin-top: 5px;
      font-size: 20px;
    }

    .clickAndLearn-tabView-body {
      display: block;
      margin-top: 5px;
      font-size: @font-size;
    }
  }

  .clickAndLearn-popup {
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: @inverted-background-color;
    color: @inverted-foreground-color;
    border: @item-border;

    .clickAndLearn-popup-inner {
      padding: @item-padding;

      .clickAndLearn-popup-toolbar-title {
        width: 80%;
        margin-bottom: 10px;
        float: left;
      }

      .clickAndLearn-popup-body {
        overflow-y: auto;
      }

      .clickAndLearn-popup-close {
        display: inline-block;
        float: right;
        color: @primary-color;
        .icon {
          color: @inverted-foreground-color;
        }
      }
    }
  }

}

.no-touch {
  .clickAndLearn-navContainer {
    .clickAndLearn-indicator:hover {
      cursor: pointer;
      background-color: @secondary-color;
    }
  }

  .clickAndLearn-popup-close {
    .icon:hover {
      color: lighten(@inverted-background-color, 30%);
    }
  }
}

@media (max-width: 774px) {

  .clickAndLearn-component {
    .clickAndLearn-widget {
      &.clickAndLearn-vertical {
        .clickAndLearn-navContainer {
          width: 100%;
        }
      }
    }
  }

}
